{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "ie": 11
        },
        "corejs": 3,
        "useBuiltIns": "usage"
      }
    ]
  ],
  "plugins": [
    "@babel/transform-arrow-functions",
    "@babel/transform-modules-commonjs",
    "@babel/plugin-transform-runtime"
  ]
}
