.namu,
.namu ul,
.namu li {
  margin: 0;
  list-style: none;
  padding: 0;
  position: relative;
}

.namu li {
  padding-left: 20px;
}

.namu li::before {
  border-left: 1px solid #AAA;
  content: "";
  display: block;
  height: 100%;
  left: 4px;
  position: absolute;
  top: 0;
  width: 12px;
}

.namu li::after {
  border-bottom: 1px solid #AAA;
  border-left: 1px solid #AAA;
  content: "";
  display: block;
  height: 12px;
  left: 4px;
  position: absolute;
  top: 0;
  width: 12px;
}

.namu li:last-child::before {
  border: 0;
}

.namu li > a {
  border: 1px solid transparent;
  border-radius: 4px;
  display: inline-block;
  line-height: 22px;
  padding: 0 4px;
  transition: all .4s;
}

.namu .namu--dragging {
  background-color: #EEE;
  border: 1px dashed #AAA;
  opacity: .3;
}

.namu .namu--zombie {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' width='8' height='8' viewBox='0 0 8 8'%3E%3Cg%3E%3Cline style='stroke:rgb(220,220,220);stroke-width:1' x1='8' y1='0' x2='-0' y2='8' /%3E%3C/g%3E%3C/svg%3E");
  opacity: .5;
}