.namu {
  --line-color: #AAA;
  --size: 1.5rem;
  --half-size: calc(var(--size, 1.5rem) / 2);
  --qtr-size: calc(var(--size, 1.5rem) / 4);

  margin: 0 0 0 1rem;
  padding: 0;

  * {
    box-sizing: border-box;
  }

  &__branch,
  &__fork {
    margin: 0;
    list-style: none;
    padding: 0;
    position: relative;
  }

  &__fork {
    margin-left: var(--size, 1.5rem);

    &:empty,
    &:empty + .namu__knob {
      display: none;
    }
  }

  &__branch {
    line-height: var(--size, 1.5rem);
    padding-left: var(--qtr-size, 0.375rem);

    &--blink {
      animation: blinker .2s 2;
    }

    &:not(:last-child)::before {
      background-color: var(--line-color, #AAA);
      content: "";
      height: 100%;
      left: 0;
      position: absolute;
      width: 1px;
    }

    &:last-child::before {
      background-color: var(--line-color, #AAA);
      content: "";
      height: calc(var(--size, 1.5rem) - var(--qtr-size, 0.375rem));
      left: 0;
      position: absolute;
      width: 1px;
    }

    > a {
      padding: 0 var(--qtr-size, 0.375rem);
    }

    &--wilt {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' width='8' height='8' viewBox='0 0 8 8'%3E%3Cg%3E%3Cline style='stroke:rgb(220,220,220);stroke-width:1' x1='8' y1='0' x2='-0' y2='8' /%3E%3C/g%3E%3C/svg%3E");
      opacity: .5;

      & & {
        background-image: none;
        opacity: 1;
      }
    }
  }

  &--dragging {
    background-color: #EEE;
    border: 1px dashed var(--line-color, #AAA);
    border-radius: .25rem;
    left: -1px;
  }

  &__knob {
    background-color: #FFF;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' width='99' height='1' viewBox='0 0 99 1'%3E%3Cg%3E%3Cline style='stroke:rgb(170,170,170);stroke-width:1' x1='0' y1='0' x2='99' y2='1' /%3E%3C/g%3E%3C/svg%3E");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border: 2px solid #FFF;
    height: var(--half-size, 0.75rem);
    left: calc(var(--qtr-size, 0.375rem) * -1);
    outline: 1px solid var(--line-color, #AAA);
    padding: 0;
    position: absolute;
    top: var(--qtr-size, 0.375rem);
    width: var(--half-size, 0.75rem);
  }

  &__knob--crush {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' width='99' height='99' viewBox='0 0 99 99'%3E%3Cg%3E%3Cline style='stroke:rgb(170,170,170);stroke-width:1' x1='49' y1='0' x2='49' y2='99' /%3E%3Cline style='stroke:rgb(170,170,170);stroke-width:1' x1='0' y1='49' x2='99' y2='49' /%3E%3C/g%3E%3C/svg%3E");
  }
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
