$namu-size: 1.5rem;
$namu-half-size: 0.75rem; //$namu-size / 2
$namu-quarter-size: 0.375rem; //$namu-size / 4

.namu {
  margin: 0;
  padding: 0;

  *, *::before, *::after {
    box-sizing: border-box;
  }

  &__leaf,
  &__branch {
    margin: 0;
    list-style: none;
    padding: 0;
    position: relative;
  }

  &__branch:empty + &__knob {
    display: none;
  }

  &__leaf {
    margin-left: $namu-size;

    &::before {
      border-left: 1px solid #AAA;
      content: "";
      height: 100%;
      left: -$namu-quarter-size;
      position: absolute;
    }

    &::after {
      border-bottom: 1px solid #AAA;
      border-left: 1px solid #AAA;
      content: "";
      height: $namu-size;
      left: -$namu-quarter-size;
      position: absolute;
      top: -$namu-half-size;
      width: $namu-size;
    }

    &:last-child::before {
      border: 0;
    }

    > a {
      border-radius: .25rem;
      box-sizing: border-box;
      display: inline-block;
      line-height: $namu-size;
      margin-left: $namu-size;
      transition: all .4s;
    }
  }

  &--dragging {
    background-color: #EEE;
    border: 1px dashed #AAA;
    border-radius: .25rem;
    left: -1px;
  }

  &--zombie {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' width='8' height='8' viewBox='0 0 8 8'%3E%3Cg%3E%3Cline style='stroke:rgb(220,220,220);stroke-width:1' x1='8' y1='0' x2='-0' y2='8' /%3E%3C/g%3E%3C/svg%3E");
    opacity: .5;
  }

  &__knob {
    background-color: transparent;
    border: 2px solid #FFF;
    height: calc(#{$namu-half-size} - 1px);
    left: calc(#{$namu-quarter-size} + 1px);
    outline: 1px solid #AAA;
    padding: 0;
    position: absolute;
    top: $namu-quarter-size;
    width: calc(#{$namu-half-size} - 1px);
    z-index: 1;
  }

  &__knob--purse {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' width='1' height='99' viewBox='0 0 1 99'%3E%3Cg%3E%3Cline style='stroke:rgb(170,170,170);stroke-width:1' x1='0' y1='0' x2='1' y2='99' /%3E%3C/g%3E%3C/svg%3E");
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
}
